@font-face {
  font-family: "AvenirLTStd-Black";
  src: url(D:\React\typofrontend\frontend\public\fonts\AvenirLTStd-Black.otf)
    format("truetype");
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 85%;
  position: absolute;
  left: 8%;
  margin-top: 6px;
}

.typoicon {
  width: 50px;
  height: 50px;
  margin-left: -4px;
}

.nav-icons-container {
  position: relative;
  background: #303030;
  width: 95%;
  text-align: end;
  border-radius: 8px;
  margin-top: -10px;
  margin-left: 8px;
}

.nav-icons-container-text {
  font-family: "AvenirLTStd-Black", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.nav-icons {
  width: 20px;
  height: 20px;
  padding: 8px 6px;
  color: #9a9a9a;
  cursor: pointer;
}
.nav-icons:hover,
.nav-icons:active {
  color: #b9e04c;
}
.specific-right-navicon {
  margin-right: 5px;
}
