.mainDiv h1 {
  color: white;
  position: relative;
  top: 48%;
  left: 35%;
  transform: translate(-20%, -20%);
}
.mainDiv {
  overflow: hidden;
}
.Fade {
  border: 2px solid green;
}
.keyboard-component {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.textBox {
  color: wheat;
  border: 2px solid red;
  position: relative;
  top: 15%;
  left: 15%;
  max-width: 900px;
  font-size: larger;
  white-space: pre-line;
  height: 120px;
  overflow: hidden;
}
.textBox p {
  display: flex;
}

.has-success {
  background-color: green;
}
.has-failed {
  background-color: red;
}
